@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;900&display=swap');
body {
  font-family: 'Raleway', sans-serif;
}

.connect-button {
  position: absolute;
  right: 10px;
  text-align: center;
  outline: currentcolor none medium;
  text-decoration: none;
  -moz-box-pack: center;
  justify-content: center;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  -moz-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  background-color: rgb(253, 234, 241);
  border: 1px solid rgb(253, 234, 241);
  color: rgb(255, 0, 122);
}
.connect-text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 0.5rem 0px 0.25rem;
  font-size: 1rem;
  width: -moz-fit-content;
  font-weight: 500;
}


/* Dropdown */
.dropdown {
  text-align: left;
}

.dd-header {
  display: flex;
  justify-content: space-between;
  outline-color: currentcolor none medium;
  font-size: 16px;
  padding: 0.9rem 1.7rem;
  border-radius: 49px;
  user-select: none;
  font-weight: 500;
  background-color: #EFEFEF;
  color: #494949;
  position:relative;
}
.dd-header:hover {
  cursor: pointer;
}

.dd-list {
  border-radius: 49px;
  background-color: #fbfbfb;
  padding: 0.7rem;
  margin-top: -3.8rem;
  padding-top: 3.8rem;
  z-index: -1;
}

.dd-list-item {
  margin: 0.7rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  list-style: none;
}
.dd-list-item:hover {
  background-color: rgb(253, 234, 241);
  cursor: pointer;
  border-radius: 12px;
}
